<div class="layout__inner">
  <div class="container">

    <div class="layout__inner-head">

      <h1>{{ title }}</h1>

      <div class="layout__sidebar-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#filter"
        aria-controls="filter">
        <svg class="svg-icon">
          <use xlink:href="/img/svgSprite.svg#icon-filter"></use>
        </svg>
        <span>Фильтр</span>
      </div>

    </div>

    <div class="layout__row">

      <aside class="layout__col layout__col_sidebar">

        <div class="offcanvas offcanvas_sidebar offcanvas-start" tabindex="-1" id="filter"
          aria-labelledby="filterLabel">
          <div class="offcanvas-header">
            <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">

            {{ partial:partials/sidebar-secondary }}

          </div>
        </div>
      </aside>

      <main class="layout__col layout__col_main">

        <div class="layout__objects">

          <div class="layout__objects-row row-cols-xl-2 row row-cols-xxl-3 g-2">

            {{# {{ collection:objects }}

              <div class="layout__objects-col col d-flex flex-column">

                {{ partial:partials/components/card-object }}

              </div>

            {{ /collection:objects }} #}}

          </div>

        </div>


        <div class="layout__description">
          {{ content }}
        </div>


      </main>

    </div>

  </div>

  {{# {{ partial:sections/contact }} #}}

</div>
