<section class="section section_advantage">
  <div class="container">
    {{ if section_advantages_title }}
      <h2>{{ section_advantages_title }}</h2>
    {{ /if }}

    {{ if section_advantages_list }}
      <div class="section__row row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 justify-content-center g-3">
        {{ section_advantages_list }}
          <div class="section__col col">
            <div class="block block_advantage">
              <div class="block__img"> <img src="{{ image }}" alt=""></div>
              <div class="block__title">{{ title }}</div>
              <div class="block__text">{{ content }}</div>
            </div>
          </div>
        {{ /section_advantages_list }}
      </div>
    {{ /if }}
  </div>
</section>
