<section class="section section_contact">
  <div class="section__container container">
    <div class="section__row">
      <form class="form form_contact">
        <h2>Остались вопросы?</h2>
        <div class="form__body">
          <div class="form__group">
            <input class="form-control form-control_primary" type="text" name="name" placeholder="Имя">
          </div>
          <div class="form__group">
            <input class="form-control form-control_primary" type="email" name="name" placeholder="E-mail">
          </div>
          <div class="form__group">
            <input class="form-control form-control_primary" type="tel" name="phone" placeholder="Телефон"
              pattern="[0-9]*">
          </div>
          <div class="form__group">
            <textarea class="form-control form-control_primary" name="message" rows="4"
              placeholder="Сообщение"> </textarea>
          </div>
          <div class="form__group pt-2">
            <label class="form-label form-label_primary">Выберите предпочтительный мессенджер</label><span
              class="wpcf7-form-control-wrap" data-name="person_socials"><span
                class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first">
                  <label>
                    <input type="radio" name="person_socials" value="whatsapp"><span
                      class="wpcf7-list-item-label">Whatsapp</span>
                  </label></span><span class="wpcf7-list-item last">
                  <label>
                    <input type="radio" name="person_socials" value="telegram"><span
                      class="wpcf7-list-item-label">Telegram</span>
                  </label></span></span></span>
          </div>
          <div class="form__group">
            <button class="btn btn_primary w-100" type="button" data-bs-toggle="modal"
              data-bs-target="#thnx">Отправить</button>
          </div>
        </div>
      </form>
      <div class="section__card">
        <div class="card card_contact">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3205.471423158829!2d32.037484!3d36.5427446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14dc998d82a4704f%3A0xf7c6e498981c55ac!2sMia%20Homes%20Real%20Estate%20Turkey!5e0!3m2!1sru!2sru!4v1685350049870!5m2!1sru!2sru"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="card__content">
            <div class="card__title">Контакты</div>
            <div class="card__txt">Телефон: <a href="+79809008986">+7 (980) 900-89-86</a></div>
            <div class="card__socials"> <a class="btn btn_social" href="#">
                <svg class="svg-icon">
                  <use xlink:href="/img/svgSprite.svg#icon-wa"></use>
                </svg><span>Whatsapp</span></a><a class="btn btn_social" href="#">
                <svg class="svg-icon">
                  <use xlink:href="/img/svgSprite.svg#icon-tg"></use>
                </svg><span>Telegram</span></a></div>
          </div>
        </div>
      </div>
      <div class="section__img"> <img src="/img/img-contact.png" alt=""></div>
    </div>
  </div>
</section>
