<section class="section section_reviews">
  <div class="container">
    {{ if section_reviews_title }}
      <h2>{{ section_reviews_title | sanitize }}</h2>
    {{ /if }}

    {{ if section_reviews_list }}
      <div class="section__row row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-2">
        {{ section_reviews_list }}
          <div class="section__col col">
            <a class="card card_review" data-fancybox="gallery" href="{{ image }}">
              <img src="{{ image }}" alt="">
              <div class="card__title">
                <strong>{{ name | sanitize }}</strong>
                <span>{{ country | sanitize }}</span>
                <span>{{ date | sanitize }}</span>
              </div>
            </a>
          </div>
        {{ /section_reviews_list }}
      </div>
    {{ /if }}
  </div>
</section>
